.Footer{
    background-color: #2d2d2d;
    color: #fff;
}
.FooterTop{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-bottom: 2px solid #fff;
}
.FooterLeft{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.FooterBottom{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}