.Navbar{
background-color: gainsboro;
}
.Navbar>div{
    height: 134px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    background-color:teal;
    width: 90%;
    margin: auto;
}
.Navbar>div>div>img{
    width: 184px;
    height: 137px;
    margin-bottom: -15px ;
}
.NavLinks{
    font-size: 25px;
    width: 900px;
    max-width: 900px;
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
}
.NavLinks>a{
    text-decoration: none;
    font-weight: bold;
}
.active {
    text-decoration: none;
    color: red;
  }
  .default {
    text-decoration: none;
    color: black;
  }
  