$tc-color--white: #ffffff;
$tc-color--lightblue: #2ebbcd;
$tc-color--lightishblue: #39BCCd;
$tc-color--browngray: #404040;
$tc-color--black: #000000;
$tc-color--lightblack: #0d0d0d;
$tc-color--lightishblack : #2d2d2d;
$tc-color--lightgray: #acacac;
$tc-color--lightishgray: #979797;
$tc-color--orange: #f2923c;
$tc-color--red: #FF0000;
$tc-color--red-200: #FEB2B2;
$tc-color--red-500: #E53E3E;
$tc-color--lightred: #ff5555;
$tc-color--green: green;
$tc-color--green-200: #9AE6B4;
$tc-color--green-500: #38A169;
$tc-color--blue: blue;
$tc-color--blue-200: #90CDF4;
$tc-color--blue-500: #3182CE;
$tc-color--gray-200: #E2E8F0;
$tc-color--gray-400: #A0AEC0;
$tc-color--teal-50: #E6FFFA;

$tc-color--pink: #f4355a;

// Background Color
$tc-bgColor--black: #282828;
$tc-bgColor--yellow: #f3ca00;
$tc-bgColor--gray: #EDF2F7;
$tc-bgColor--green: #48BB78;

// Border Color
$tc-brColor--gray: #3e3434;

// Theme Color
$tc-theme--color: #39BCCd;