@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
.imageDiv {
  margin: auto;
  position: relative;
}

.imageDiv h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffffd9;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  color: #000000;
  padding: 20px;
}
.para {
  text-align: center;
}
.para > h1 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #2d2d2d;
  font-weight: 500;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}
.BuyHeading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.BuyHeading > h1 {
  /* font-family: ; */
  font-size: 60px;
  color: #0d0d0d;
  font-family: "Roboto Slab", serif;
}

/* Hover */
.contaier {
  transition: 0.4s ease-in-out;
  background-color: blueviolet;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("https://cdn.shopify.com/s/files/1/0974/7668/t/16/assets/page_banner_6_image.jpg?v=107305128139824397671661403560"); */
}

.inside_container {
  background-color: aliceblue;
  width: 200px;
  height: 100px;
  text-align: center;
}
.inside_container > h1:nth-child(1) {
  margin-top: 10px;
  font-size: 27px;
  /* margin-bottom: -20px; */
  font-family: "Great Vibes", cursive;
}
.inside_container > h1:nth-child(2) {
  font-size: 28px;
  margin-bottom: 14px;
  font-family: "Roboto Slab", serif;
}

.hover_container {
  width: 100%;
  background-color: #ffffff;
  text-align: center;
}
.hover_container > h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 4px;
  font-family: "Roboto Slab", serif;
}
.hover_container > button {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid black;
  padding: 8px 14px;
  font-weight: 500;
  margin-bottom: 10px;
  transition: 0.5s ease-in-out;
}
.hover_container > button:hover {
  background-color: black;
  cursor: pointer;
  color: white;
  transition: 0.5s ease-in-out;
}

.hover_container {
  display: none;
}

/* Hover */
.contaier:hover {
  transition: 0.5s ease-in-out;
  background-image: url("");
  background-color: orange;
  cursor: pointer;
}

.contaier:hover > .hover_container {
  /* background-color: orange; */
  display: block;
}
.contaier:hover > .inside_container {
  /* background-color: orange; */
  display: none;
}
/* Hover */
