@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
.imageDiv {
  margin: auto;
  position: relative;
}

.imageDiv h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffffd9;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  color: #000000;
  padding: 20px;
}
.para {
  text-align: center;
}
.para > h1 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #2d2d2d;
  font-weight: 500;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}
.BuyHeading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.BuyHeading > h1 {
  /* font-family: ; */
  font-size: 60px;
  color: #0d0d0d;
  font-family: "Roboto Slab", serif;
}

/* First Hover */
.box {
  height: 300px;
  position: relative;
  overflow: hidden;
}

.box>img {
  width: 100%;
  height: 100%;
}

/* from where we want to hover we just have to set top or bottom according that */
.content {
  background: rgba(214, 118, 28, 0.8);
  position: absolute;
  top: -300px;
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.box:hover .content {
  top: 0px;
}

/* Inside Content */

.inside_container {
  background-color: rgba(225,225,225,0.8);
  width: 80%;
  height: auto;
  text-align: center;
  color: #000;
  position: absolute;
  z-index: 1;
  top: 100px;
  left: calc(10% - 5px);
  transition: all 0.5s;
}

.inside_container>h1:nth-child(1) {
  margin-top: 10px;
  font-size: 27px;
  font-weight: 500;
  /* margin-bottom: -20px; */
  font-family: "Great Vibes", cursive;
}

.inside_container>h1:nth-child(2) {
  font-size: 28px;
  margin-bottom: 14px;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
}

.box:hover .inside_container {
  transition: all 0.5s;
  display: none;
}

.hover_container {
  width: 100%;
  background-color: rgba(225,225,225,0.6);
  text-align: center;
  color: #000;
}

.hover_container>h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 4px;
  font-family: "Roboto Slab", serif;
}

.hover_container>button {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid black;
  padding: 8px 14px;
  font-weight: 600;
  margin-bottom: 10px;
  transition: 0.5s ease-in-out;
}

.hover_container>button:hover {
  background-color: black;
  cursor: pointer;
  color: white;
  transition: 0.5s ease-in-out;
}

/* Inside Content */
/* First Hover */


