@use "../../global/base";
@use "../../global/color";
@use "../../global/typography";
@use "../../global/input";


.modal-content {
    border-radius: 10px;
    padding: 20px;
}

.modal-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid color.$tc-bgColor--black;

    p {
        @include typography.tc_typography("Arial",
            20px,
            500,
            normal,
            color.$tc-color--browngray );
    }
}

.tm-form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .tm-formcontrol {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .tm-fc-label {
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 1px;
        @include typography.tc_typography("Arial",
            16px,
            600,
            normal,
            color.$tc-color--browngray );
    }

    .tm-fc-input {
        border: 1px solid color.$tc-bgColor--black;
        padding: 10px;
        border-radius: 5px;
        @include typography.tc_typography("Arial",
            16px,
            500,
            normal,
            color.$tc-color--browngray );
        @include input.input-placeholder-css("Arial",
            16px,
            500,
            normal,
            color.$tc-color--browngray );

        &:focus {
            outline: none;
            border-color: color.$tc-bgColor--green;
        }
    }

    .tm-fc-submit {
        margin-top: 10px;
        cursor: pointer;

        @include typography.tc_typography("Arial",
            18px,
            600,
            normal,
            color.$tc-color--white );
        background-color: color.$tc-bgColor--black;
        border-color: color.$tc-bgColor--black;
        transition: background-color 0.5s, border-color 0.5s, color 0.5s;

        &:hover {
            background-color: color.$tc-color--blue-200;
            border-color: color.$tc-color--blue-200;
            color: color.$tc-color--white;
        }
    }
}