@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;800&display=swap");
.header > h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 800;
}
.inputLabel > input {
  border-radius: 0px;
  border: 1px solid #2ebbcd;
  border-bottom: 3px solid #2ebbcd;
  color: gray;
}
.inputLabel > input::placeholder {
  color: gray;
}
