.singleChocolate {
  background-color: royalblue;
  width: 550px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border: 4px solid black;
  border-bottom-right-radius: 80px;
  border-top-left-radius: 80px;
}
.singleChocolate > p:last-child,
.singleChocolate button {
    margin: auto;
    width: 100px;
    margin-top: 10px;
    background-color: orange;
    padding: 8px;
    font-size: 14px;
    border-radius: 25px;
  }
  .singleChocolate button:hover{
    background-color: red;
  }
  .singleChocolate> p:last-child>a {
    text-decoration: none;
  }
