@use "../../global/base";
@use "../../global/color";
@use "../../global/typography";

.cat-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .cat-griditem {
        list-style: none;
        padding: 0px;
        width: calc(33.4% - 10px);
        position: relative;
        overflow: hidden;
    }

    // Fixed Container
    .fixed-cont {
        width: 100%;
        height: 300px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 1;

        .cat-article-box {
            transition: opacity 0.5s;
        }
    }

    // Dynamic Container
    .dyna-cont {
        position: absolute;
        bottom: -300px;
        width: 100%;
        height: 300px;
        background-color: rgba(242, 146, 60, 0.8);
        transition: all 0.5s;

        .cat-article-box {
            opacity: 1;
        }
    }

    .cat-article-box {
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 10px 40px;
        padding: 10px 30px;
        background-color: color.$tc-color--white;

        opacity: 0.8;

        h4 {
            @include typography.tc_typography("NexaRustScriptR",
                27px,
                400,
                normal,
                color.$tc-color--black );
        }

        h2 {
            @include typography.tc_typography("Museo Slab 500",
                28px,
                800,
                normal,
                color.$tc-color--black );
            margin-bottom: 10px;
        }

        .cat-article-box-a {
            text-decoration: none;
            display: block;
            text-transform: uppercase;
            @include typography.tc_typography("NexaBlack",
                14px,
                800,
                normal,
                color.$tc-color--black );
            background-color: transparent;
            padding: 10px 0px;
            width: 142px;
            border: 1px solid color.$tc-color--black;
            transition: background-color 0.5s;

            &:hover {
                background-color: color.$tc-color--white;
            }
        }
    }

    .dyna-cat-article-box {
        background-color: transparent;
    }

    .cat-griditem:hover {

        // Fixed Container
        .fixed-cont {
            .cat-article-box {
                opacity: 0;
            }
        }

        // Dynamic Container
        .dyna-cont {
            bottom: 0px;
        }
    }
}

@media (max-width:991px) {
    .cat-grid {
        .cat-griditem {
            width: calc(50.5% - 10px);
        }
    }
}

@media (max-width:767px) {
    .cat-grid {
        .cat-griditem {
            width: 100%;
        }
    }
}