@use "../../global/base";
@use "../../global/color";
@use "../../global/typography";

.tc-header-outer {
    width: 100%;
    border-bottom: 1px solid color.$tc-color--lightishgray;
}

.tc-header-inner {
    width: 100%;
    height: 100%;
    height: 134px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-end;
}

// Left Section
.tch-left {
    width: calc(41.3% - 30px);
    max-width: 452px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    // Left Grid
    .tch-left-grid {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        list-style: none;
        padding: 0px;
        gap: 26px;
    }

    // Desktop View
    .tch--desk-view {
        display: flex;
    }

    // Mobile View
    .tch--mob-view {
        display: none;
    }

    .tchl-griditem {
        cursor: pointer;
        height: 40px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        // position: relative;
    }

    .tchl-griditem-a {
        text-decoration: none;
        @include typography.tc_typography("Museo Slab 900",
            18px,
            400,
            normal,
            color.$tc-color--black );
        transition: color 0.5s;
        cursor: pointer;
    }

    // griditem Triangle
    .tchl-gi-tribox {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.5s;
    }

    .tchl-gi-tri {
        width: 0px;
        height: 0px;
        border-bottom: 10px solid color.$tc-color--lightblue;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }

    // Sub Item in header
    .tchl-gi-subbox {
        width: 100%;
        background-color: color.$tc-color--lightblue;
        position: absolute;
        top: 134px;
        left: 0px;
        opacity: 0;
        transition: opacity 0.5s, z-index 0.5s;
        pointer-events: none;
        z-index: -10;
    }

    // Sub Item in header grid
    .tchlgi-grid {
        width: 100%;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 24px;
    }

    .tchlgi-griditem {
        height: auto;
        padding: 30px 0px;
    }

    .tchlgi-griditem-a {
        padding: 30px 0px;
        @include typography.tc_typography("ProximaNovaSemiBold",
            14px,
            600,
            normal,
            color.$tc-color--lightblack );
        text-transform: uppercase;
        text-decoration: none;
        transition: color 0.5s;

        &:hover {
            color: color.$tc-color--white;
        }
    }

    .tchl-griditem:hover {
        .tchl-griditem-a {
            color: color.$tc-color--lightblue;
        }

        // griditem Triangle
        .tchl-gi-tribox {
            opacity: 1;
        }

        // Sub Item in header
        .tchl-gi-subbox {
            pointer-events: auto;
            opacity: 1;
            z-index: 10;
        }
    }
}

// Left : Mobile View
.tch--mob-view {
    .tchl-griditem--mob {
        cursor: pointer;
    }

    .tchl-griditem-a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

    .tchl-ham {
        width: 16px;
        height: 11px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .tchl-ham-bar {
            opacity: 1;
            width: 100%;
            height: 2px;
            background-color: color.$tc-color--lightblue;
            transition: all 0.5s ease-in-out;
        }
    }

    .tchl-ham--active {
        .tchl-ham-bar:first-child {
            transform: translate(0px, 4px)rotate(45deg);

        }

        .tchl-ham-bar:nth-child(2) {
            opacity: 0;
        }

        .tchl-ham-bar:last-child {
            transform: translate(0px, -5px)rotate(-45deg);
        }

    }

    .tchl-gi-subbox {
        pointer-events: auto;
        width: 100%;
    }
}

.isSubMenuOpen {
    .tchl-griditem-a {
        color: color.$tc-color--lightblue;
    }

    // griditem Triangle
    .tchl-gi-tribox {
        opacity: 1;
    }

    // Sub Item in header
    .tchl-gi-subbox {
        opacity: 1;
        z-index: 10;
    }
}

.tchlgi-mob {
    width: 100%;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0px;

    .tabs-menu {
        border-bottom: 1px solid color.$tc-color--white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 0px;
        list-style: none;
    }

    .tabs-listitem {
        background-color: transparent;
        transition: background-color 0.5s;
    }

    .tabs-listitem-a {
        @include typography.tc_typography("NexaBlack",
            16px,
            800,
            normal,
            color.$tc-color--white );
        padding: 10px 10px 5px;
        text-transform: uppercase;
        text-decoration: none;
        transition: color 0.5s;
        cursor: pointer;

        &:hover {
            color: color.$tc-color--lightblue;
        }
    }

    .tabs-listitem:hover {
        background-color: color.$tc-color--white;

        .tabs-listitem-a {
            color: color.$tc-color--lightblue;
        }
    }

    .tabs-listitem--active {
        background-color: color.$tc-color--white;

        .tabs-listitem-a {
            color: color.$tc-color--lightblue;
        }
    }

    .tabs-listitem {
        padding: 10px 10px 5px;
    }

    .tab-content {
        margin-top: 20px;
        width: 100%;
        transition: display 0.5s;
    }

    .tab-content--show {
        display: block;
        transition: display 0.5s;
    }

    .tab-content--hide {
        display: none;
        transition: display 0.5s;
    }

    .tab-content-list {
        width: 100%;
        list-style: none;
        padding: 0px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 10px;
    }

    .tab-content-listitem {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .tab-content-listitem-a {
        width: 100%;
        padding: 5px 0px;
        text-decoration: none;
        text-transform: uppercase;
        @include typography.tc_typography("ProximaNovaSemiBold",
            16px,
            600,
            normal,
            color.$tc-color--white );
        transition: background-color 0.5s;

        &:hover {
            background-color: teal;
        }
    }
}

// Middle Section
.tch-mid {
    // width: calc(100% - (2 * 41.3%));
    width: 185px;
    position: relative;
    height: 100%;

    .tch-mid-logo-box {
        position: absolute;
        bottom: -15px;
        // margin-top: 10px;
        width: 100%;
        height: 100%;
        z-index: 40;
    }

    .tch-mid-logo-a {
        text-decoration: none;
    }

    .tch-mid-logo {
        width: 100%;
        height: 100%;
    }
}

// Right Section
.tch-right {
    width: calc(41.3% - 30px);
    max-width: 452px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    flex-direction: column;
    gap: 10px;
}

.tchr-list {
    // position: absolute;
    // bottom: 15px;
    width: 100%;
    // height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    padding: 0px;
    list-style: none;
    margin-bottom: 15px;

    // .tchr-listitem {}

    .tchr-listitem-a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        &:active,
        &:focus {
            outline: none;
        }
    }

    .tchr-listitem-span {
        @include typography.tc_typography("ProximaNovaSemiBold",
            14px,
            600,
            normal,
            color.$tc-color--browngray );
        transition: color 0.5s;
    }

    .tchr-listitem-svg {
        fill: color.$tc-color--lightishblue;
        transition: fill 0.5s;

        // &:hover {
        //     fill: color.$tc-color--orange
        // }
    }

    .tchr-listitem:hover {
        .tchr-listitem-span {
            color: color.$tc-color--orange
        }

        .tchr-listitem-svg {
            fill: color.$tc-color--orange
        }
    }

}

@media (max-width:991px) {
    .tchr-list {


        .tchr-listitem-span {
            display: none;
        }
    }
}

@media (max-width: 767px) {

    // Left Section
    .tch-left {
        width: auto;

        // Desktop View
        .tch--desk-view {
            display: none;
        }

        // Mobile View
        .tch--mob-view {
            display: flex;
        }
    }

    // Mid Side
    .tch-mid {
        width: 102px;
        height: 72px;
    }

    // Right Side
    .tch-right {
        width: auto;
    }

    .tchr-list {
        width: 50px;
        flex-wrap: wrap;
    }
}