@use "../../global/typography";
@use "../../global/color";

.bg-teal {
    background: rgba(47, 188, 206, 0.94);
}

.modal-boxshadow {
    box-shadow: 0 10px 25px #00000080;
}

.modal-content {
    margin-top: -28px !important;
}

.modal-cross {
    position: relative;
    z-index: 600;
}

.modal-title {
    h3 {
        text-transform: uppercase;
        margin-bottom: 12px;
        @include typography.tc_typography-with-fsfc(24px, color.$tc-color--lightblue)
    }
}