$tc-color--white: #ffffff;
$tc-color--lightblue: #2ebbcd;
$tc-color--lightishblue: #39BCCd;
$tc-color--browngray: #404040;
$tc-color--black: #000000;
$tc-color--lightblack: #0d0d0d;
$tc-color--lightishblack : #2d2d2d;
$tc-color--lightgray: #acacac;
$tc-color--lightishgray: #979797;
$tc-color--orange: #f2923c;
$tc-color--red: #FF0000;
$tc-color--lightred: #ff5555;
$tc-color--green: green;

// Background Color
$tc-bgColor--black: #282828;
$tc-bgColor--yellow: #f3ca00;