$tc-color--white: #ffffff;
$tc-color--lightblue: #2ebbcd;
$tc-color--browngray: #404040;
$tc-color--black: #000000;
$tc-color--lightblack: #0d0d0d;
$tc-color--lightgray: #acacac;

// Background Color
$tc-bgColor--black: #282828;