@use "../../global/base";
@use "../../global/color";
@use "../../global/typography";
@use "../../global/input";

// Product Banner
.pro-banner-outer {
    height: 320px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .pro-banner-inner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pro-banner-article {
        padding: 20px;
        background-color: color.$tc-color--white;

        h1 {
            text-transform: uppercase;
            @include typography.tc_typography-with-fsfc(60px, color.$tc-color--black);
            margin-bottom: 0px;
        }
    }
}

@media (max-width: 767px) {

    // Product Banner
    .pro-banner-outer {
        .pro-banner-article {
            h1 {
                font-size: 40px;
            }
        }
    }
}

// Products Description
.pro-desc-outer {

    .pro-desc-inner {
        margin: 30px auto;
        width: 100%;
        max-width: 850px;
    }

    .pro-desc-para {
        p {
            width: 100%;
            margin-bottom: 16px;
            text-align: center;
        }

        p:last-child {
            margin: 0px;
        }
    }
}

// Products Item
.pro-item-outer {
    // background-color: red;

    .pro-item-inner {
        // background-color: teal;
        padding: 40px 0px 20px;
    }

    // Pagination
    .pro-pagination {

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pro-pagination-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        padding: 8px;
        border: 0px;
        cursor: pointer;
        transition: color 0.5s;

        svg {
            fill: color.$tc-bgColor--black;
            stroke-width: 1px;
            transition: fill 0.5s;
        }

        &:hover {
            color: color.$tc-color--orange;

            svg {
                fill: color.$tc-color--orange;
            }
        }
    }

    .ppbtn--current {
        color: color.$tc-color--orange;
    }
}

// Pro Single Details
.pro-single-details-outer {
    border-bottom: 1px solid color.$tc-brColor--gray;

    .pro-single-details-inner {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;
        -webkit-row-gap: 30px;
        -webkit-column-gap: 30px;
    }

    .pro-sd-left {
        width: calc(50% - 15px);
        background-color: red;
    }


    .pro-sd-right {

        width: calc(50% - 15px);
    }

    .pro-sd-title {
        h1 {
            text-transform: uppercase;
            margin-bottom: 14px;
            @include typography.tc_typography-with-fsfc(28px, color.$tc-color--lightblack)
        }
    }

    .pro-desc-para {
        p {
            margin-bottom: 15px;
        }
    }

    .selector-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 30%;
        margin-bottom: 10px;

        label[for] {
            cursor: pointer;
        }

        .single-option-selector {
            @include typography.tc_typography('ProximaNova', 16px, 400, normal, color.$tc-color--lightblack);
            padding: 8px 10px;
            appearance: none;
            background-position: right center;
            background-image: url(//www.tazachocolate.com/cdn/shop/t/20/assets/ico-select.svg?v=3540120…);
            background-repeat: no-repeat;
            background-position: right 10px center;
            background-color: transparent;
            padding-right: 28px;
            text-indent: 0.01px;
            text-overflow: "";
            cursor: pointer;

            &:focus,
            &:active {
                border-color: color.$tc-theme--color;
                outline: none;
            }

            &:hover {
                border-color: color.$tc-theme--color;
            }
        }
    }

    .pro-sd-qty-cont {
        padding-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .qty-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        -webkit-row-gap: 10px;
        -webkit-column-gap: 10px;
        margin-bottom: 10px;

        label {
            @include typography.tc_typography('NexaBlack', 22px, 800, normal, color.$tc-color--lightblack);
            cursor: pointer;
            border: 0px;
        }

        .quantity-selector {
            @include input.input-placeholder-css('ProximaNova', 18px, 400, 1.4, color.$tc-color--lightblack);
            padding: 8px 10px;
            border-color: color.$tc-theme--color;

            &:focus,
            &:active {
                border-color: color.$tc-color--lightblack;
                outline: none;
            }

            &:hover {
                border-color: color.$tc-color--lightblack;
            }

        }

    }

    .add-to-cart-wrapper {
        display: block;
    }

    .add-to-cart-btn {
        @include typography.tc_typography('NexaBlack', 14px, 800, normal, color.$tc-color--lightblack);
        display: inline-block;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        border: 0px;
        border-radius: 4px;
        background-color: color.$tc-theme--color;
        padding: 18px 10px;
        text-transform: uppercase;
        cursor: pointer;

        transition: background-color 0.5s;

        &:hover {
            background-color: color.$tc-color--orange;
        }

        &:disabled {
            cursor: not-allowed;
            background-color: color.$tc-color--lightishgray;
        }
    }
}

.add-to-cart-message {
    padding: 20px 10px;
    background-color: color.$tc-color--pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px 4px 0px 0px;

    span {
        @include typography.tc_typography('NexaBlack', 14px, 800, normal, color.$tc-color--white);
        margin-right: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        -webkit-row-gap: 10px;
        -webkit-column-gap: 10px;

        svg {
            fill: color.$tc-color--white;
        }
    }

    .view-cart-btn {
        padding: 5px 15px;
        border-radius: 4px;
        background-color: color.$tc-color--white;
        text-decoration: none;
        color: color.$tc-color--pink;
        transition: all 0.5s;

        &:hover {
            text-decoration: underline;
        }
    }
}


.free-ship-message {
    background-color: #272727;
    margin-bottom: 15px;
    padding: 12px 10px;
    text-align: center;
    border-radius: 0px 0px 4px 4px;


    span {
        @include typography.tc_typography('NexaBlack', 14px, 800, normal, color.$tc-color--white);
    }

    p {
        color: color.$tc-color--white !important;
    }
}

@media (max-width:991px) {

    // Pro Single Details
    .pro-single-details-outer {
        .pro-sd-left {
            width: 100%;
        }

        .pro-sd-right {
            width: 100%;
        }
    }
}